body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
.header-info {
  background-color: #1cd1b0;
  padding: 15px 20px;
  font-size: 15px;
}

.header-main {
  background-color: #00669f;
  margin: 0px;
  height: 101px;
  align-items: center;
  position: relative;
  padding-left: 20px;
}

.header-text {
  font-size: 40px;
  position: absolute;
  top: 25%;
}

#cards-section {
  text-align: center;
  margin: 100px 0px;
}

.card-main {
  width: 300px;
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

.card-text-container {
  text-align: center;
  background-color: #f3f3f3;
  height: 336px;
  margin-top: -3px;
}

.card-title {
  margin: 0;
  padding-top: 60px;
}

.card-text {
  color: red;
  padding: 15px;
  text-align: left;
  font-size: 16px;
}
.card-button {
  background-color: #00669f;
  color: white;
  padding: 15px 32px;
  box-sizing: border-box;
  border-width: 0px;
}
.liked {
  position: absolute;
  top: 20px;
  left: 20px;
}
.profile-pic {
  position: absolute;
  top: 25%;
  right: 30%;
}

footer {
  background-color: #00669f;
  color: white;
  font-size: 16px;
  padding: 15px;
}
